@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 98%);
  font-family: "Poppins", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

header {
  margin: 50px auto;
  max-width: 512px;
  text-align: center;
}

footer {
  margin-top: 30px;
}

h1 {
  margin: 0;
  color: hsl(234, 12%, 34%);
}

p {
  color: hsl(229, 6%, 66%);
}

.light {
  font-weight: 200;
}

.strong {
  font-weight: 600;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 352px;
  padding: 30px;
  margin: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
}

.box > h2 {
  margin: 0;
  color: hsl(234, 12%, 34%);
}

.box > p {
  font-size: 14px;
  margin: 15px 0 40px;
}

.box > img {
  display: block;
  margin-left: auto;
}

.box:nth-of-type(1) {
  border-top: 5px solid hsl(180, 62%, 55%);
  transform: translateY(50%);
}

.box:nth-of-type(2) {
  border-top: 5px solid hsl(0, 78%, 62%);
}

.box:nth-of-type(3) {
  border-top: 5px solid hsl(212, 86%, 64%);
  transform: translateY(50%);
}
.box:nth-of-type(4) {
  border-top: 5px solid hsl(34, 97%, 64%);
}

@media (max-width: 1190px) {
  h1 {
    font-size: 20px;
  }

  header {
    max-width: 250px;
  }

  header > p {
    font-size: 12px;
  }

  .box:nth-of-type(1) {
    transform: translateY(0);
  }
  .box:nth-of-type(3) {
    transform: translateY(0);
  }

  .box {
    width: 250px;
  }

  .box > h2 {
    font-size: 18px;
  }

  .box > p {
    font-size: 12px;
  }
}
